<div>
  <div>
    <h1>
      <%= @current_user.username.capitalize %>'s Workout History
    </h1>
  </div>
</div>

<hr>

<h3><a href="workouts/new">Add a new workout</a></h3>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
        Exercises
        </th>

        <th>
        User
        </th>

        <th>
        Date
        </th>

        <th>
        </th>
      </tr>

      <tr>
      <% @list_of_workouts.each do |a_workout| %>
        <td>
        <% if a_workout.exercises.any? %>
          <% a_workout.exercises.each do |exercise| %>
         <li> <%= exercise.activity.name %> <li>
          <% end %>
        <% else %>
          No exercises yet
        <% end %>
        </td>

        <td>
          <%= a_workout.user.username %>
        </td>

        <td>
          <%= a_workout.date %>
        </td>

        <td>
          <a href="/workouts/<%= a_workout.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
