<div>
  <div>
    <h1>
      Workout #<%= @the_workout.id %> details
    </h1>

    <div>
      <div>
        <a href="/workouts">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_workout/<%= @the_workout.id %>">
          Delete workout
        </a>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <%= @the_workout.user_id %>
      </dd>

      <dt>
        Date
      </dt>
      <dd>
        <%= @the_workout.date %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_workout.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_workout.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit workout
    </h2>

    <form action="/modify_workout/<%= @the_workout.id %>"  method="post" >
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_workout.user_id %>">
      </div>

      <div>
        <label for="date_box">
          Date
        </label>

        <input type="date" id="date_box" name="query_date" value="<%= @the_workout.date %>">
      </div>

      <button>
        Update workout
      </button>
    </form>
  </div>
</div>

<hr>
