<div>
  <div>
    <h1>
      <%= @the_workout.date.strftime("%B %d, %Y") %>
    </h1>

    <div>
      <div>
        <a href="/workouts">Go back</a>
      </div>

      <div>
        <a href="/delete_workout/<%= @the_workout.id %>">Delete workout</a>
      </div>
    </div>

    <dl>
      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_workout.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <form action="/modify_workout/<%= @the_workout.id %>"  method="post" >

      <div>
        <label for="date_box">
          Date
        </label>

        <input type="date" id="date_box" name="query_date" value="<%= @the_workout.date %>">
      </div>

      <button>
        Update workout
      </button>
    </form>
  </div>
</div>

<hr>


<table>
  <thead>
    <tr>
      <th>Exercise Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @the_workout.exercises.each do |exercise| %>
      <tr>
        <td><%= exercise.activity.name %></td>
        <td>
            <a href="/exercises/<%= exercise.id %>" class="btn btn-outline-secondary btn-sm">+</a>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>
  
    <form action="/insert_exercise" method="post">
        <input type="hidden" id="workout_id_box" name="query_workout_id" value="<%= @the_workout.id %>">
      <div>
        <label for="activity_id_box">
        </label>
        <select name="query_activity_id" id="activity_id_box">
          <% Activity.all.order(:name).each do |activity| %>
            <option value="<%= activity.id %>">
              <%= activity.name %>
            </option>
          <% end %>
        
        </select>
      </div>

      <button>
        Add exercise
      </button>
    </form>
  
