<head>
<style>
.table-header {
  background-color: #007bff; /* Custom color */
  color: #fff; /* Text color */
  font-size: 24px; /* Font size */
  font-weight: bold; /* Font weight */
  text-align: center; /* Center alignment */
  padding: 10px; /* Padding */
}
</style>

</head>
<body>
<div>
  <div>
    <h1>
  Exercises
    </h1>
  </div>
</div>

<div>
  <div>
<h3>
  <a href="activities/new" class="btn btn-primary">Add a new exercise</a>
</h3>

<div>
  <div class="exercise-table">
    <table class="table">
      <thead>
        <tr>
          <th colspan="6" class="table-header">Exercise Table</th>
        </tr>
        <tr>
          <th>Name</th>
          <th>Image</th>
          <th>Equipments</th>
          <th>Description</th>
          <th>Target Muscle</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @list_of_activities.each do |an_activity| %>
        <tr>
          <td><%= an_activity.name.capitalize %></td>
          <td>
            <%= image_tag an_activity.image, class: "activity-image" %>
          </td>
          <td><%= an_activity.equipments.capitalize %></td>
          <td><%= an_activity.description %></td>
          <td><%= an_activity.target_muscle.capitalize %></td>
          <td>
            <a href="/activities/<%= an_activity.id %>" class="btn btn-outline-secondary btn-sm">+</a>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
