<div>
  <div>
    <h1>
      List of all exercises
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new exercise
    </h2>

    <form action="/insert_exercise" method="post">
      <div>
        <label for="workout_id_box">
          Workout
        </label>

        <input type="text" id="workout_id_box" name="query_workout_id">
      </div>

      <div>
        <label for="activity_id_box">
          Activity
        </label>

        <input type="text" id="activity_id_box" name="query_activity_id">
      </div>

      <button>
        Create exercise
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Workout
        </th>

        <th>
          Activity
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_exercises.each do |an_exercise| %>
      <tr>
        <td>
          <%= an_exercise.id %>
        </td>

        <td>
          <%= an_exercise.workout_id %>
        </td>

        <td>
          <%= an_exercise.activity_id %>
        </td>

        <td>
          <%= time_ago_in_words(an_exercise.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_exercise.updated_at) %> ago
        </td>

        <td>
          <a href="/exercises/<%= an_exercise.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
