<div>
  <div>
    <h1>
      Exercise #<%= @the_exercise.id %> details
    </h1>

    <div>
      <div>
        <a href="/exercises">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_exercise/<%= @the_exercise.id %>">
          Delete exercise
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Workout
      </dt>
      <dd>
        <%= @the_exercise.workout_id %>
      </dd>

      <dt>
        Activity
      </dt>
      <dd>
        <%= @the_exercise.activity_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_exercise.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_exercise.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit exercise
    </h2>

    <form action="/modify_exercise/<%= @the_exercise.id %>"  method="post" >
      <div>
        <label for="workout_id_box">
          Workout
        </label>

        <input type="text" id="workout_id_box" name="query_workout_id" value="<%= @the_exercise.workout_id %>">
      </div>

      <div>
        <label for="activity_id_box">
          Activity
        </label>

        <input type="text" id="activity_id_box" name="query_activity_id" value="<%= @the_exercise.activity_id %>">
      </div>

      <button>
        Update exercise
      </button>
    </form>
  </div>
</div>

<hr>
