<div>
  <div>
    <h1><%= @the_exercise.workout.date.strftime("%B %d, %Y") %></h1>
    <h2><%= @the_exercise.activity.name.upcase %></h2>
    

    <div>
      <div>
        <a href="/workouts/<%= @the_exercise.workout.id %>">Go back</a>
      </div>

      <div>
        <a href="/delete_exercise/<%= @the_exercise.id %>">
          Delete exercise
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Last updated
      </dt>
      <dd>
        <%= time_ago_in_words(@the_exercise.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Edit exercise
    </h2>

    <form action="/modify_exercise/<%= @the_exercise.id %>"  method="post" >
      <div>
        <input type="hidden" id="workout_id_box" name="query_workout_id" value="<%= @the_exercise.workout_id %>">
      </div>

          <div>
            <label for="activity_id_box">
              Exercise
            </label>

            <select id="activity_id_box" name="query_activity_id">
              <% Activity.order(:name).each do |activity| %>
                <option value="<%= activity.id %>"><%= activity.name.downcase %></option>
              <% end %>
            </select>
          </div>


      <button>
        Update exercise
      </button>
    </form>
  </div>
</div>

<hr>
<table>
  <thead>
    <tr>
      <th>Number of Reps</th>
      <th>Weight</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @the_exercise.zets.each do |zet| %>
      <tr>
        <td><%= zet.reps %></td>
        <td><%= zet.weight %></td>
        <td>
            <a href="/zets/<%= zet.id %>" class="btn btn-outline-secondary btn-sm">+</a>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div>
  <div>
    <form action="/insert_zet" method="post">
      <div>
        <label for="reps_box">
          Reps
        </label>

        <input type="text" id="reps_box" name="query_reps">
      </div>

      <div>
        <label for="weight_box">
          Weight
        </label>

        <input type="text" id="weight_box" name="query_weight">
      </div>

      <div>
        <input type="hidden" name="query_exercise_id" value="<%= @the_exercise.id %>">
      </div>

      <button>
        Add a set!
      </button>
    </form>
  </div>
</div>
  
