<!DOCTYPE html>
<html>
<head>
  <title>
    Fitness Tracker
  </title>

  <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
  <meta charset="utf-8">

  <!-- Make it responsive to small screens. Include only if you're using responsive CSS. -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Helper methods that create <link>s and <script>s for all of the stylesheets and javascript files in the non-`/public/` assets folders. -->
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%# javascript_pack_tag  'application' %>

  <!-- Rendering a partial that has all the <link>s and <script>s for assets we are pulling from content-delivery networks. -->
  <%= render "shared/cdn_assets" %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <style>
    body { padding-bottom: 70px }
  </style>

  <style>
  .exercise-table {
  margin-top: 10px;
  }

.activity-image {
  max-width: 400px;
  max-height: 300px;
  }

.activity_navbar {
  background-color: #2196f3; /* Change this to the desired light dark blue color */
  }

  .accordion-btn {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;
    background-color: transparent;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .accordion-btn:hover {
    border-color: #b5b5b5;
  }
</style>

<style>
  .navbar {
    padding-bottom: 20px; /* Adjust the value as needed */
  }

  .zet-details {
  text-align: center;
  margin-bottom: 20px;
}

.zet-details h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.navigation-links {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.navigation-links a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
}

.zet-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.zet-info dt {
  font-weight: bold;
}

.zet-info dd {
  margin: 0;
}

.edit-set {
  text-align: center;
  margin-bottom: 20px;
}

.edit-set h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.edit-set form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

</style>
</head>

<body>
  <%= render "shared/navbar" %>

  <div class="container">
    <%= render "shared/flashes" %>

    <%= yield %>
  </div>

</body>
</html>
